@include('../includes/pre-head.html')

<main>
  <aside class="aside">
    <h2 class="aside__title t-h4">Shop</h2>
    <nav>
      <ul>
        <li><button>Blog</button></li>
        <li><button class="active">Shop</button></li>
        <li><button>Lookbook</button></li>
        <li><button>About</button></li>
        <li><button>Press</button></li>
      </ul>
    </nav>

    <button class="cta js-hero">
      <div class="cta__img img">
        <div
          class="img__i"
          style="background-image: url(img/lookbook.jpg)"
        ></div>
      </div>
      <div class="cta__circle u-center">
        <svg class="i-chevron"><use xlink:href="#i-chevron" /></svg>
      </div>
    </button>
  </aside>

  <section class="hero u-flex u-aic hidden">
    <div class="hero__img-wrap u-ovh">
      <div class="hero__img img u-ovh">
        <img src="img/lookbook.jpg" alt="New Collection" class="img__i" />
      </div>
    </div>
    <div class="hero__content">
      <h1 class="hero__title">Prêt-à-Porter Meets Swim</h1>
      <p class="hero__subtitle hero-word">"BEATRICE" — SS19 Collection</p>
      <p class="hero__text">
        FINESSE is a luxury swim and resort label reflecting a sense of iconic
        sophistication and elegance, focusing on high quality materials and the
        perfect fit.
      </p>
      <button class="btn js-catalog" data-text="Shop">
        <span>Shop</span>
      </button>
    </div>
  </section>

  <section class="catalog hidden">
    <ul>
      @for (var i = 0; i < list.length; i++) {
      <li>
        <div class="catalog-item u-center t-tac js-product">
          <div class="img u-ovh">
            <img
              src="`+list[i].image.main+`"
              alt="`+list[i].name+`"
              class="img__i"
            />
          </div>
          <p class="catalog-item__name t-text-ttu">`+list[i].name+`</p>
          <div class="u-ovh u-flex u-aic">
            <p class="catalog-item__price t-text-ttu">$`+list[i].price+`</p>
            <p class="catalog-item__price t-text-ttu">$`+list[i].price+`</p>
          </div>
        </div>
      </li>
      }
    </ul>
  </section>

  @for (var i = 0; i < list.length; i++) {
  <section class="product js-slider hidden">
    <div class="product__cover"></div>

    <div class="product__container u-flex u-aic">
      <nav class="product__nav">
        <ul class="u-flex u-flex-col">
          <li>
            <button class="u-center js-prev">
              <svg class="i-arrow"><use xlink:href="#i-arrow" /></svg>
            </button>
          </li>
          <li>
            <button class="u-center js-next">
              <svg class="i-arrow"><use xlink:href="#i-arrow" /></svg>
            </button>
          </li>
        </ul>
      </nav>

      <div class="product__slider">
        <ul class="product__images">
          <li>
            <img
              class="product__img"
              src="`+list[i].image.front+`"
              alt="Front"
            />
          </li>
          <li>
            <img
              class="product__img"
              src="`+list[i].image.back+`"
              alt="Front"
            />
          </li>
        </ul>
      </div>

      <div class="product__content">
        <h2 class="product__title">`+list[i].name+`</h2>
        <b class="product__price t-h5">$`+list[i].price+`</b>
        <p class="product__text">
          `+list[i].text+`
        </p>
        <button class="btn js-catalog" data-text="Buy">
          <span>Buy</span>
        </button>
      </div>
    </div>
  </section>
  }
</main>

<!-- footer -->
@include('../includes/footer.html')
