.catalog
  width: 75vw

  position: absolute
  top: var(--header-h)
  right: 0

.catalog > ul
  display: flex
  flex-wrap: wrap
  margin-top: calc(-1 * #{gutters(1)})
  margin-left: -32px

.catalog > ul li
  margin-top: gutters(1)
  margin-left: 32px
  width: calc(33.3333% - 32px)

.catalog-item
  cursor: pointer
  flex-direction: column

.catalog-item .img
  padding-bottom: 150%
  margin-bottom: 16px

.catalog-item__name.t-text-ttu 
  font-size: 11px

.catalog-item__price
  opacity: 0.6