///*----------------------------------*\
//  #CONFIG
//\*----------------------------------*/


// Colors
// $black: #1F2020
$black: #171b1a
$acc: #FFF3F9

// Typo
$base-lh: 1.72 !default
$base-text-color: $black !default


// Transitions
$trs: 0.25s ease !default
$trs-4: 0.4s cubic-bezier(0.33, 0, 0, 1)


// Blocks
$unit: 4.45vw !default
